.book-card{
    // display: flex;
    // flex-direction: column;
    max-width: 400px;
    background-color: rgba(137, 43, 226, 0.491);
    color: white;
    gap: 8px;
    padding: 8px;
}

// .example-card {
//     max-width: 400px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }


.sfondoBianco{
    background-color: purple !important;
  }