<!-- <div *ngIf="book" class="book-card">
    <span>Titolo: {{book.title}}</span>
    <span>Autore: {{book.authors[0].name}} ({{book.authors[0].birth_year}} - {{book.authors[0].death_year}})</span>
    
    <span>Lingua: {{book.languages}}</span>
</div> -->

<mat-card *ngIf="book" class="book-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Titolo: {{book.title}}</mat-card-title>
      <mat-card-subtitle>Argomenti: {{book.subjects}}</mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image [src]="book.formats['image/jpeg']" alt="book cover">
    <mat-card-content>
        Autore: {{book.authors[0].name}} ({{book.authors[0].birth_year}} - {{book.authors[0].death_year}})
        <span>Lingua: {{book.languages}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Vai al dettaglio</button>
      <button mat-button>{{book.id}}</button>

    </mat-card-actions>
  </mat-card>
  